<br>
<a ui-sref="usersShow" class="back">Back</a>

<h2>My Friends</h2>

<div>
  <div class="row item">
    <div class="image col-sm-3" ng-repeat="friend in usersFriends.currentUser.friends">
      <h4>{{ friend.full_name }}</h4>
      <div ng-style="{'background-image': 'url(' + friend.image.url + ')'}" class="user-image"></div>
      <a type="button" ng-click="usersFriends.removeFriend(friend)" class="button">Unfriend</a>
    </div>
  </div>
</div>

<h2>Pending Friends</h2>

<h4 ng-if="usersFriends.pending.length === 0">You currently have no pending friend requests</h4>

<div>
  <div class="row item">
    <div class="image col-sm-3" ng-repeat="pending in usersFriends.pending">
      <h4>{{ pending.full_name }}</h4>
      <div ng-style="{'background-image': 'url(' + pending.image_src + ')'}" class="user-image"></div>
      <a ng-click="usersFriends.acceptFriend(pending)" class="button">Accept Friend Request</a>
      <a ng-click="usersFriends.declineFriend(pending)" class="button red">Decline Friend Request</a>
    </div>
  </div>
</div>
