<h1>{{ usersFriends.user.full_name }}'s Friends</h1>

<div ng-repeat="friend in usersFriends.user.friends">
  <div class="row item">
    <div class="image col-sm-3">
      <img ng-src="{{ friend.profile_image }}" alt="{{ friend.full_name }}">
    </div>
    <div class="col-sm-9 info">
      <h3>{{ friend.full_name }}</h3>
      <button type="button" ng-click="usersFriends.removeFriend(friend)">Unfriend</button>
    </div>
  </div>
</div>

<h2>Pending Friends</h2>

<div ng-repeat="pending in usersFriends.pending">
  <div class="row item">
    <div class="image col-sm-3">
      <img ng-src="{{ pending.profile_image }}" alt="{{ pending.full_name }}">
    </div>
    <div class="col-sm-9 info">
      <h3>{{ pending.full_name }}</h3>
      <button type="button" ng-click="usersFriends.acceptFriend(pending)">Accept Friend Request</button>
      <button type="button" ng-click="usersFriends.declineFriend(pending)">Decline Friend Request</button>
    </div>
  </div>
</div>
