<h2>Find Friends</h2>

<div class="row" id="search-row">
  <div class="col-sm-4 form">
  </div>
  <div class="col-sm-4 form">
    <h5>Search by Name</h5>
    <input type="text" class="search" ng-model="usersIndex.q" placeholder="Find users...">
  </div>
  <div class="col-sm-4 form">
  </div>
</div>

<div class="row item">
  <div ng-repeat="user in usersIndex.filtered" class="col-sm-6 col-md-3 text-center" ng-if="user.id !== main.currentUser.id">
    <h4>{{ user.full_name }}</h4>
    <div class="image-div">
      <div ng-style="{'background-image': 'url(' + user.image_src + ')'}" class="user-image"></div>
    </div>
    <p ng-if="usersIndex.isFriend(user)" class="button friend">You are Friends!</p>
    <p ng-if="usersIndex.requested(user)" class="button friend">Requested!</p>
    <a ng-click="usersIndex.requestFriend(user)" ng-if="!usersIndex.isFriend(user) && !usersIndex.requested(user)" class="button">Add Friend</a>
  </div>
</div>
