<h1>{{ usersShow.user.full_name }}</h1>
<a ui-sref="usersFriends">Friends</a>
<a ui-sref="sentRequests">Sent Requests</a>
<a ui-sref="receivedRequests">Received Requests</a>


<div ng-repeat="item in usersShow.user.items">
  <div class="row item">
    <div class="image col-sm-5">
      <img ng-src="{{ item.image.url }}" alt="{{ item.name }}">
    </div>
    <div class="col-sm-7 info">
      <h3><a ui-sref="itemsShow({ id: item.id })">{{ item.name }}</a></h3>
      <h4>Information</h4>
      <p>{{ item.instructions }}</p>
      <h5 ng-if="item.available">Status: Available</h5>
      <h5 ng-if="!item.available">Status: Unavailable</h5>
    </div>
  </div>
</div>
