<h1>{{ usersShow.user.full_name }}</h1>

<div class="row">
  <ul>
    <li><a ui-sref="usersEdit" class="button">Edit Profile</a></li>
    <li><a ui-sref="itemsNew" class="button">Add a new Item</a></li>
    <li><a ui-sref="usersFriends" class="button">Friends</a></li>
    <li><a ui-sref="sentRequests" class="button">Sent Requests</a></li>
    <li><a ui-sref="receivedRequests" class="button">Received Requests</a></li>
  </ul>
</div>

<div ng-repeat="item in usersShow.user.items">
  <div class="row item">
    <div class="image col-sm-4">
      <div ng-style="{'background-image': 'url(' + item.image.url + ')'}" class="item-image"></div>
    </div>
    <div class="col-sm-8 info">
      <h3><a ui-sref="itemsShow({ id: item.id })">{{ item.name }}</a></h3>
      <h5 ng-if="item.available">Status: Available</h5>
      <h5 ng-if="!item.available">Status: Unavailable</h5>
      <h5 ng-if="item.friend_level === 'friends'">Lending Level: Friends</h5>
      <h5 ng-if="item.friend_level === 'everyone'">Lending Level: Friends &amp; Mutual Friends</h5>
    </div>
  </div>
</div>
