<br>
<a ui-sref="usersShow" class="back">Back</a>

<h2>Received Requests</h2>

<h4 ng-if="receivedRequests.requests.length === 0">You currently have no received requests</h4>

<div ng-repeat="request in receivedRequests.requests" >
  <div class="row item">
    <div class="image col-sm-5">
      <img ng-src="{{ request.item.image_src }}" alt="{{ request.item.name }}">
    </div>
    <div class="col-sm-7 info">
      <h3><a ui-sref="itemsShow({ id: item.id })">{{ request.item.name }}</a></h3>
      <h4>Borrower: {{ receivedRequests.borrower.full_name }}</h4>
      <h5>Status: {{ request.status }}</h5>
      <button class="btn" ng-click="receivedRequests.itemRequestAccept(request, request.item)">Accept Request</button>
      <button class="btn" ng-click="receivedRequests.itemRequestReject(request)">Deny Request</button>
      <button class="btn" ng-click="">Contact Borrower</button>
    </div>
  </div>
</div>
