<br>
<a ui-sref="usersShow" class="back">Back</a>

<h2>Sent Requests</h2>

<h4 ng-if="sentRequests.requests.length === 0">You currently have no sent requests</h4>

<div ng-repeat="request in sentRequests.requests" >
  <div class="row item">
    <div class="image col-sm-5">
      <img ng-src="{{ request.item.image_src }}" alt="{{ request.item.name }}">
    </div>
    <div class="col-sm-7 info">
      <h3><a ui-sref="itemsShow({ id: item.id })">{{ request.item.name }}</a></h3>
      <h4>Owner: {{ sentRequests.owner.full_name }}</h4>
      <h5>Status: {{ request.status }}</h5>
      <button class="btn" ng-click="sentRequests.cancelRequest(request)">Remove Request</button>
    </div>
  </div>
</div>
