<!DOCTYPE html>
<html ng-app="borrowApp">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <link rel="icon" href="../images/cc-logo.png" type="image/x-icon" />
    <title>Community Chest</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <script src="https://use.fontawesome.com/cb62cfe9af.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="MainCtrl as main" ng-class="main.pageName">
    <header>
      <nav class="container">
        <ul>
          <li class="menu-icon" ng-click="navIsOpen = !navIsOpen"><img src="../images/cc-logo.png" alt=""> Community Chest</li>
          <li ng-if="main.isAuthenticated()" class="logout"><div class="profilePic" ng-controller="UsersShowCtrl as usersShow" ng-style="{'background-image': 'url(' + usersShow.user.image_src + ')'}"></div></li>
          <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" ui-sref-active="active" class="logout">Logout</a></li>
        </ul>
     </nav>
    </header>
    <div class="drop-div">
      <div class="dropdown" ng-class="{ 'open': navIsOpen }">
        <ul>
           <li ng-if="main.isAuthenticated()"><a ui-sref="itemsIndex" ui-sref-active="active">Find Items</a></li>
           <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow" ui-sref-active="active">Profile Page</a></li>
           <li ng-if="main.isAuthenticated()"><a ui-sref="usersIndex" ui-sref-active="active">Find Users</a></li>
           <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
           <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        </ul>
      </div>
    </div>

    <main ui-view class="container"></main>
  </body>
</html>
