
// -----     colours

$mainfont: #2F3B4B;
$mainback: #FFFDFB;
$maingreen: #d9ffcc;
$white: #FCFCFC;
$brightorange: #F95800;
$buttoncolor: #D5E8D4;

// -----     styles

.category {
  height: 50px;
  padding-top: 4px;
  border: 3px solid $mainfont;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.h2-styles {
  h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
  }
}

.container-styles {
  main {
    &.container {
      background-color: white;
      margin: 0 auto;
      padding: 30px auto;
      padding-bottom: 30px;
      -webkit-box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
      -moz-box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
      box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
    }
  }
}

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-style {
  .back {
    color: $mainfont;
    background-color: $buttoncolor;
    padding: 1px 7px;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
      color: $mainfont;
      text-decoration: none;
    }
  }
}

.item-form {
  @extend .heading-styles;
  .form {
    background-color: white;
    max-width: 550px;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
    -moz-box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
    box-shadow: 1px 1px 58px -8px rgba(0,0,0,0.72);
    h2 {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 30px;
    }
    .row {
      text-align: center;
      .col {
        text-align: justify;
        margin: 0 auto;
        width: 500px;
        .imagebutton {
          // border: 1px solid lightgrey;
          border-radius: 4px;
          width: 100%;
          text-align: center;
          padding: 6px 0;
          background-color: $buttoncolor;
          margin-bottom: 20px;
          &:hover {
            cursor: pointer;
          }
        }
        input {
          &.image {
            display: none;
          }
          &.lending {
            margin-left: 20px;
          }
        }
        span {
          &.lending-label {
            text-transform: none;
            font-weight: normal;
          }
        }
        select {
          width: 100%;
          background-color: white;
        }
        .submit {
          text-align: center;
          .btn {
            margin: 20px auto;
            background-color: $buttoncolor;
            font-family: inherit;
            @extend .heading-styles;
            font-weight: bold;
            width: 200px;
          }
        }
      }
    }
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: $mainfont;
  background-color: $white;
  margin-top: 90px;

  // -----     nav

  header {
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: $white;
    position: fixed;
    border-bottom: 4px solid $mainfont;
    z-index: 3;
    nav {
      text-align: center;
      z-index:3;
      ul {
        background-color: $white;
        margin: 0 auto;
        height: 90px;
        padding: 0 20px !important;
        border-bottom: 4px solid $mainfont;
        li {
          margin: 0 auto;
          display: inline;
          list-style: none;
          line-height: 50px;
          text-align: left;
          &.menu-icon {
            display: block;
            cursor: pointer;
            position: absolute;
            // left:50%;
            // transform: translate(-50%);
            color: $mainfont;
            font-size: 28px;
            font-weight: 200;
            margin-top: 15px;
            img {
              max-width: 40px;
              margin-top: -2px;
            }
          }
          .profilePic {
            margin-top: 18px;
            height: 40px;
            width: 40px;
            border: 2.5px solid $mainfont;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            float: right;
          }
          .logout {
            color: $mainfont;
            float: right;
            margin-top: 18px;
            margin-right: -45px;
          }
          a {
            font-family: inherit;
            color: white;
            display: inline;
            font-size: 18px;
            z-index: 11;
            padding-right: 50px;
            padding-left: 50px;
            &:hover {
              cursor: pointer;
              // color: $brightorange;
              text-decoration: none;
            }
          }
        }
      }
    }

  }
  .drop-div {
    text-align: center;
    .dropdown {
      // display: none;
      background-color: $mainfont;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 20px;
      padding-right: 0;
      height: 90px;
      transition: top 0.2s ease-in-out;
      &.open {
        display: block;
        z-index: 2;
        top: 90px;
        position: fixed;
      }
      li {
        margin: 0 auto;
        display: inline;
        list-style: none;
        line-height: 50px;
        a {
          font-family: inherit;
          color: white;
          display: inline;
          font-size: 18px;
          z-index: 11;
          padding-right: 50px;
          padding-left: 50px;
          &:hover {
            // color: $mainfont;
            text-decoration: none;
          }
        }
      }
    }
  }
//             &.active {
//               color: $mainfont;
//               animation: none;
//               text-decoration: none;
//             }

  // -----     home-page

  &.home {
    @extend .heading-styles;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url('../images/shed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2 {
      color: white;
      text-align: center;
      margin-top: -70px;
      @extend .centered-styles;
      font-weight: normal;
      text-transform: none;
    }
  }

  // -----     login

  &.login {
    @extend .item-form;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url('../images/shed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    button {
      &.git-button {
        background-color: white;
        color: $mainfont;
        border: none;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        &:hover {
          background-color: white;
          color: #9bc49f;
        }
      }
    }
  }

  // -----     register

  &.register {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.25)), url('../images/shed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @extend .item-form;
  }

  // -----     users-edit

  &.usersEdit {
    @extend .item-form;
  }

  // -----     items-index

  &.itemsIndex {
    padding-bottom: 30px;
    @extend .container-styles;
    @extend .heading-styles;
    text-align: center;
    h2 {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
    }
    .form {
      input{
        width: 100%;
        height: 40px;
        outline: none;
      }
      select {
        width: 100%;
        background-color: white;
        height: 40px;
      }
    }
    #search-row {
      margin: 20px 0;
    }
    .item {
      padding-top: 28px;
      margin-bottom: 20px;
      a {
        color: white;
        &:hover {
          // color: #cde6d0;
          text-decoration: none;
        }
      }
      .image-div {
          .item-image {
            height: 200px;
            width: 100%;
            margin: 0 auto;
            // width: 250px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 3px solid $mainfont;
            border-top: none;
          }
        }
    }

    div {
      .Garden {
        @extend .category;
        background-color: #22b05c;
      }
      .Kitchen\/Home {
        @extend .category;
        background-color: #fff301;
        a {
          color: black;
        }
      }
      .Sports {
        @extend .category;
        background-color: #0072bb;
      }
      .Books\/Maps {
        @extend .category;
        background-color: #eb1c22;
      }
      .DIY {
        @extend .category;
        background-color: #f6931c;
      }
      .Games\/Party {
        @extend .category;
        background-color: #d83b94;
      }
    }
  }

  // -----     items-show

  &.itemsShow {
    @extend .container-styles;
    @extend .heading-styles;
    @extend .back-style;
    @extend .h2-styles;
    padding-bottom: 30px;
    h2 {
      &.comments {
        text-align: left;
      }
    }
    p {
      letter-spacing: 0.5px;
      font-size: 16px;
      text-transform: none;
    }
    textarea {
      width: 100%
    }
    .item {
      margin: 15px 0;
      .image {
        img {
          width: 100%;
          // max-height: 300px;
        }
      }
    }
    .requested {
      text-align: center;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      height: 40px;
      padding-top: 10px;
    }
    #requestShow {
      display: none;
    }
    .button {
      font-family: 'Poppins', sans-serif;
      display: block;
      width: 100%;
      text-align: center;
      background-color: $buttoncolor;
      color: $mainfont;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 10px;
      height: 40px;
      padding-top: 10px;
      border: none;
      text-transform: uppercase;
      &.create {
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      &.email {
        height: 60px;
      }
      &:hover {
        // background-color: $brightorange;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  // -----     items-new

  &.itemsNew {
    padding-bottom: 30px;
    @extend .item-form;
  }

  // -----     items-edit

  &.itemsEdit {
    padding-bottom: 30px;
    @extend .item-form;
  }
  // -----     users-index

  &.usersIndex {
    padding-bottom: 30px;
    @extend .container-styles;
    @extend .heading-styles;
    @extend .back-style;
    @extend .h2-styles;
    .user-image {
      min-height: 200px;
      min-width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .form {
      text-align: center;
      input{
        width: 100%;
        height: 40px;
        outline: none;
      }
    }
    #search-row {
      margin: 20px 0;
    }
    .item {
      margin: 15px 0;
      .image {
        img {
          max-width: 100%;
          max-height: 300px;
          margin: 10px 0;
        }
      }
      .info {
        p {
          text-transform: none;
          letter-spacing: 0.5px;
          font-size: 16px;
        }
      }
      .button {
        font-family: 'Poppins', sans-serif;
        display: block;
        width: 100%;
        text-align: center;
        background-color: $buttoncolor;
        color: $mainfont;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        padding-top: 10px;
        border: none;
        &:hover {
          // background-color: $buttoncolor;
          cursor: pointer;
          text-decoration: none;
        }
        &.friend {
          background-color: white;
          color: $mainfont;
        }
      }
    }
  }

  // -----     users-show

  &.usersShow {
    @extend .container-styles;
    @extend .heading-styles;
    h1 {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .row {
      ul {
        list-style: none;
        text-align: center;
        background-color: $mainfont;
        padding: 5px 0;
        margin-top: 10px;
        margin-bottom: 30px;
        li {
          display: inline;
          padding: 0 30px;
          a {
            color: white;
            &:hover {
              text-decoration: none;
              color: $buttoncolor;
            }
          }
        }
      }
      .item-image {
        min-height: 200px;
        min-width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .item {
      margin: 15px 0;
      h3 {
        a {
          color: $mainfont;
          &:hover {
            text-shadow: 4px 2px $buttoncolor;
            text-decoration: none;
          }
        }
      }
      .image {
        text-align: center;
        img {
          max-width: 100%;
          max-height: 300px;
        }
      }
      .info {
        p {
          text-transform: none;
          letter-spacing: 0.5px;
          font-size: 16px;
        }
      }
    }
    .profile {
      width: 100%;
      height: 255.999744px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  // -----     users-friends

  &.usersFriends {
    padding-bottom: 30px;
    @extend .container-styles;
    @extend .heading-styles;
    @extend .back-style;
    @extend .h2-styles;
    .user-image {
      min-height: 200px;
      min-width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .item {
      margin: 15px 0;
      .image {
        img {
          max-width: 100%;
          max-height: 300px;
          margin: 10px 0;
        }
      }
      .info {
        p {
          text-transform: none;
          letter-spacing: 0.5px;
          font-size: 16px;
        }
      }
      .button {
        font-family: 'Poppins', sans-serif;
        display: block;
        width: 100%;
        text-align: center;
        background-color: $buttoncolor;
        color: $mainfont;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        padding-top: 10px;
        border: none;
        &:hover {
          // background-color: $brightorange;
          cursor: pointer;
          text-decoration: none;
        }
        &.red {
          background-color: $buttoncolor;
          &:hover {
            cursor: pointer;
            // background-color: $mainfont;
            text-decoration: none;
          }
        }
      }
    }
  }

  // -----     sent-requests

  &.sentRequests {
    padding-bottom: 30px;
    @extend .container-styles;
    @extend .heading-styles;
    @extend .back-style;
    @extend .h2-styles;
    .item {
      margin: 15px 0;
      h3 {
        a {
          color: $mainfont;
          &:hover {
            text-shadow: 4px 2px $buttoncolor;
            text-decoration: none;
          }
        }
      }
      .image {
        img {
          max-width: 100%;
          max-height: 300px
        }
      }
      .info {
        p {
          text-transform: none;
          letter-spacing: 0.5px;
          font-size: 16px;
        }
      }
      .btn {
        background-color: $buttoncolor;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  // -----     received-requests

  &.receivedRequests {
    padding-bottom: 30px;
    @extend .container-styles;
    @extend .heading-styles;
    @extend .back-style;
    @extend .h2-styles;
    .item {
      margin: 15px 0;
      h3 {
        a {
          color: $mainfont;
          &:hover {
            text-shadow: 4px 2px $buttoncolor;
            text-decoration: none;
          }
        }
      }
      .image {
        img {
          max-width: 100%;
          max-height: 300px
        }
      }
      .info {
        p {
          text-transform: none;
          letter-spacing: 0.5px;
          font-size: 16px;
        }
      }
      .btn {
        background-color: $buttoncolor;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
    body {
      .col-sm-4 {
        .profile {
          height: 220px;
          width: 220px;
        }
      }
    }
}
@media only screen and (max-width: 550px) {
    body {
      .cc {
        display: none;
      }
    }
}
