<h2>Items Index</h2>

<input type="text" class="search" ng-model="itemsIndex.q" placeholder="Search items...">
<div class="form-group">
  <label>Category</label><br>
  <select class="select" ng-model="itemsIndex.category">
    <option selected value="">All</option>
    <option ng-repeat="category in itemsIndex.categories" ng-value="{{ category.id }}">{{ category.name }}</option>
  </select>
</div>

<div class="row">
  <div ng-repeat="item in itemsIndex.filtered" class="col-sm-6 col-md-4">
    <h4><a ui-sref="itemsShow({ id: item.id })">{{ item.name }}</a></h4>
    <div class="category {{ item.category.name }}"></div>
    <div class="image-div">
      <img ng-src="{{ item.image_src }}" alt="{{ item.name }}">
    </div>
  </div>
</div>
